In [6]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [9]:
# create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [10]:
# Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [11]:
# We can also fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [12]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [15]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [16]:
#Reindexing rows, columns or both

# create a dataframe with some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.452995 -0.521474 -0.678777  0.031410 -1.035644
B -0.358609  0.958648 -0.732270  1.845991  0.301207
D -1.216839  0.784711 -1.257899  0.567645 -1.196860
E  1.274616 -0.038463 -0.589243 -0.301562 -0.822738
F  1.075749 -2.550443 -1.079883  1.136129  0.700596

In [17]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [18]:
# Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.452995 -0.521474 -0.678777  0.031410 -1.035644   NaN
B -0.358609  0.958648 -0.732270  1.845991  0.301207   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.216839  0.784711 -1.257899  0.567645 -1.196860   NaN
E  1.274616 -0.038463 -0.589243 -0.301562 -0.822738   NaN
F  1.075749 -2.550443 -1.079883  1.136129  0.700596   NaN

In [20]:
#Reindex quickly using the label-indexing with ix (we'll see this more in the future)

#Show original
dframe

       col1      col2      col3      col4      col5
A -1.452995 -0.521474 -0.678777  0.031410 -1.035644
B -0.358609  0.958648 -0.732270  1.845991  0.301207
D -1.216839  0.784711 -1.257899  0.567645 -1.196860
E  1.274616 -0.038463 -0.589243 -0.301562 -0.822738
F  1.075749 -2.550443 -1.079883  1.136129  0.700596

In [21]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -1.452995 -0.521474 -0.678777  0.031410 -1.035644   NaN
B -0.358609  0.958648 -0.732270  1.845991  0.301207   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.216839  0.784711 -1.257899  0.567645 -1.196860   NaN
E  1.274616 -0.038463 -0.589243 -0.301562 -0.822738   NaN
F  1.075749 -2.550443 -1.079883  1.136129  0.700596   NaN