In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
#Now we'll learn how to deal with missing data, a very common task when analyzing datasets!
data = Series(['one','two', np.nan, 'four'])
data

0     one
1     two
2     NaN
3    four
dtype: object

In [3]:
#Find the missing values
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
#We can simply drop the NAN 
data.dropna()

0     one
1     two
3    four
dtype: object

In [6]:
# In a DataFrame we need to be a little more careful!

dframe = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])
dframe

    0   1   2
0   1   2   3
1 NaN   5   6
2   7 NaN   9
3 NaN NaN NaN

In [8]:
clean_dframe = dframe.dropna()
clean_dframe

   0  1  2
0  1  2  3

In [9]:
# Note all rows where an NA occured was a drop of the entire row
# We can also specify to only drop rows that are complete missing all data
dframe.dropna(how='all')

    0   1  2
0   1   2  3
1 NaN   5  6
2   7 NaN  9

In [10]:
# drop columns with missing data
dframe.dropna(axis=1)

#This should drop all columns out since every column contains at least 1 NAN

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [11]:
#We can also threshold the missing data as well

#For example if we only want rows with at least 3 data points
dframe2 = DataFrame([[1,2,3,np.nan],[2,np.nan,5,6],[np.nan,7,np.nan,9],[1,np.nan,np.nan,np.nan]])
dframe2

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9
3   1 NaN NaN NaN

In [13]:
# Droppin any rows that don't have at least 2 data points
dframe2.dropna(thresh=2)

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9

In [29]:
# drop rows with less than 3 valid values 
dframe2.dropna(thresh=3)

   0   1  2   3
0  1   2  3 NaN
1  2 NaN  5   6

In [15]:
# replace NaN with value
dframe2.fillna(1)

   0  1  2  3
0  1  2  3  1
1  2  1  5  6
2  1  7  1  9
3  1  1  1  1

In [16]:
# Can also fill in diff values for diff columns
dframe2.fillna({0:0,1:1,2:2,3:3})
dframe2

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9
3   1 NaN NaN NaN

In [17]:
#If we want to modify the exsisting object, use inplace
dframe2.fillna(0,inplace=True)
dframe2

   0  1  2  3
0  1  2  3  0
1  2  0  5  6
2  0  7  0  9
3  1  0  0  0

In [ ]:
#Awesome! Next we'll learn about Index Hierarchy