In [23]:
import numpy as np

# case sensitive for Series and DataFrame
from pandas import Series, DataFrame
import pandas as pd

In [2]:
# source some data from NFL
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [11]:
# copy data in webpage. panda will read from clipboard
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East

In [12]:
# extract specific columns
DataFrame(nfl_frame,columns=['Team','First Season','Total Games'])

                Team  First Season  Total Games
0     Dallas Cowboys          1960          894
1      Chicago Bears          1920         1357
2  Green Bay Packers          1921         1339
3     Miami Dolphins          1966          792

In [13]:
# add a new column
DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Stadium'])

                Team  First Season  Total Games  Stadium
0     Dallas Cowboys          1960          894      NaN
1      Chicago Bears          1920         1357      NaN
2  Green Bay Packers          1921         1339      NaN
3     Miami Dolphins          1966          792      NaN

In [14]:
# retrieve individual columns
nfl_frame.Team

0       Dallas Cowboys
1        Chicago Bears
2    Green Bay Packers
3       Miami Dolphins
Name: Team, dtype: object

In [17]:
# retrieve rows through indexing; transpose 
nfl_frame.ix[3]

Rank                         4
Team            Miami Dolphins
Won                        443
Lost                       345
Tied*                        4
Pct.                     0.562
First Season              1966
Total Games                792
Conference            AFC East
Stadium         Levi's Stadium
Name: 3, dtype: object

In [21]:
# assign value to column 
# be careful with the ' for column name
nfl_frame['Stadium']="Levi's Stadium"

In [22]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,Levi's Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,Levi's Stadium
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,Levi's Stadium
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,Levi's Stadium

In [25]:
# assign index row numbers in column stadiums
nfl_frame["Stadium"] = np.arange(4)

#Show
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,0
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,1
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,2
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,3

In [28]:
#Adding a Series to a DataFrame
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[3,0])

In [29]:
# merge Series in DataFrame
nfl_frame['Stadium']=stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,AT&T Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,NaN
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,NaN
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,Levi's Stadium

In [30]:
# delete columns
del nfl_frame['Stadium']

nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East

In [31]:
# create DataFrames from a dictionary of equal length lists
data = {'City':['SF','LA','NYC'],
        'Population':[837000,3880000,8400000]}

city_frame = DataFrame(data)

city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [32]:
# pandas.DataFrame reference
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True