In [2]:
# Creating Numpy arrays
import numpy as np

# Converting from a list
#Lets start with a list

my_list1 = [1,2,3,4]

# np.array will convert list to array
my_array1 = np.array(my_list1)

In [2]:
#Print out array

my_array

array([1, 2, 3, 4])

In [5]:
# Make another list
my_list2 = [11,22,33,44]

#Make a list of lists
my_lists = [my_list1,my_list2]

#Make multi-dimensional array
my_array2 = np.array(my_lists)

#Show array
my_array2

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [6]:
#size of the multi-dimensional array
my_array2.shape

(2L, 4L)

In [7]:
# show the data type of the array
my_array2.dtype

dtype('int32')

In [3]:
#Making special case arrays

# create an array of 0s
np.zeros(5)

# decimal place in '0.' means it's float type

array([ 0.,  0.,  0.,  0.,  0.])

In [4]:
# create an array of 1s - create a 5 by 5 ones
np.ones((5,5))

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [13]:
# An empty array

np.empty(5)
np.empty((3,4))

array([[  1.15117295e-321,   0.00000000e+000,   0.00000000e+000,
          0.00000000e+000],
       [  0.00000000e+000,   0.00000000e+000,   0.00000000e+000,
          0.00000000e+000],
       [  0.00000000e+000,   0.00000000e+000,   0.00000000e+000,
          0.00000000e+000]])

In [16]:
#Identity array (identity matrix) - square
# a diagonal of 1; the rest are 0  
np.eye(5)

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  1.]])

In [8]:
# Using 'a range'
# similiar to seq() in R
np.arange(5)

# a range with start, end, step
np.arange(5,50,2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])